services:
  api:
    build: .
    env_file:
      - .env
    expose:
      - "8000"
    volumes:
      - db_data:/app/data
      - ./logs:/app/logs

    networks:
      - appnet
    


  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - api
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
  

volumes:
  db_data:
    driver: local
